500         //epoch number recomendado: 1000 o 500
0           //initial solution / 0:random / 1:pseudo-random(probabilistic) / 2:greedy
100         //mu / parents size recomendado: 100
100         //lambda / offspring size recomendado: 100
20          //intervalo_migraciones Intervalo de migracion (debe ser menor que la cantidad de epocas)
8           //cantidad_inmigrantes cantidad de inmigrantes
0.25        //probabilidad_quedarse_con_imigrante_malo probabilidad de que un inmigrante malo remplace a un nativo
./FSSPinstances/tai_20_5_1.txt    //FSSP_instance