1000          //epoch number recomendado: 1000 o 500
0          //initial solution / 0:random / 1:pseudo-random(probabilistic) / 2:greedy 
10         //mu / parents size recomendado: 100
10         //lambda / offspring size recomendado: 100
0          //parent selection / 0:torneo / 1:proporcional / 2:Stochastic Universal Sample (SUS) 
1  0       //new population selection / 0:torneo / 1:proporcional 
0  0.1     //crossover operator and its probability / 0:OX / 1:PMX / 2:CX recomendado: probabilidad = 0.65
0  0.1    //mutation operator and its probability / 0:invert / 1:interchange / 2:insert 
